<div id ="product_names_partial">
    <h3>Product Names: </h3>
    <table class="table">
        @foreach (var item in @ViewBag.ProductNames)
        {
            <tr> 
              <td>
                @using (Ajax.BeginForm("DeleteProductName", new AjaxOptions
                {
                    UpdateTargetId = "product_names",
                    LoadingElementId = "loading",
                    LoadingElementDuration = 1000
                }))
                {
                        <input type="hidden" id="Id" name="Id" value="@item.Id" />
                        <input type="hidden" id="CountryId" name="CountryId" value="@item.CountryId" />
                        <span>@item.Name</span>
                        <input type="submit" value="Delete" style="float: right"/>
                        <span id="loading" style="display: none; color: Red; font-weight: bold;">Loading...</span>
                }
               </td>
            </tr>
        }
    </table>
</div>

