<connectionStrings>
     <add name="DefaultConectionString" providerName="System.Data.SqlClient" connectionString="Data Source=185.112.41.146,1433;Network Library=DBMSSOCN;Initial Catalog=Olga2;User ID=vites;Password=vites1986" />
     <!-- <add name="DefaultConectionString" providerName="System.Data.SqlClient" connectionString="Data Source=ELRF4H1QTK14ZCU;Initial Catalog=Olga2;Integrated Security=True;"/> -->
</connectionStrings>

