<connectionStrings>
  <!--<add name="DefaultConectionString" providerName="System.Data.SqlClient" connectionString="Data Source=185.112.41.146,1433;Network Library=DBMSSOCN;Initial Catalog=Olga2;User ID=vites;Password=vites1986" />-->
  <!--<add name="DefaultConectionString" providerName="System.Data.SqlClient" connectionString="Data Source=ELRF4H1QTK14ZCU;Initial Catalog=Olga2;Integrated Security=True;"/>-->
  <add name="DefaultConectionString" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Olga;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConectionString" connectionString="data source=(local);Initial Catalog=olga;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConectionString" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Olga_dev;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConectionString" connectionString="data source=KUKI;Initial Catalog=Olga;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConectionString" connectionString="data source=KUKI;Initial Catalog=Olga_dev;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
</connectionStrings>

