@foreach (var apprDocsType in ViewBag.apprDocsTypes)
{
    var apprId = @apprDocsType.Value;
    <div class="modal fade" tabindex="-1" id="uploadImageModal@(apprId)" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label>Attach images</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="padding: 0; margin: 0;">

                    <div id="dZUpload@(apprId)" data-id="@(apprId)" class="dropzone" style="padding: 20px;">
                        <div class="dz-default dz-message">
                            DragAndDropText
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            id="cancelAddPhoto@(apprId)"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-warning"
                            data-loading-text="..." data-dismiss="modal"
                            id="savePhotoButton@(apprId)">
                        Save
                    </button>
                    @*<button type="button"
                                class="btn btn-danger"
                                id="deletePhoto@(apprId)"
                                data-dismiss="modal">
                            Delete
                        </button>*@
                </div>
            </div>
        </div>
    </div>
}

@foreach (var artwork in ViewBag.artworks)
{
    var artworkId = @artwork.Value;
    <div class="modal fade" tabindex="-1" id="uploadArtworImageModal@(artworkId)" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label>Attach images</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="padding: 0; margin: 0;">

                    <div id="dZArtworkUpload@(artworkId)" data-id="@(artworkId)" class="dropzone" style="padding: 20px;">
                        <div class="dz-default dz-message">
                            DragAndDropText
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            id="cancelArtworkAddPhoto@(artworkId)"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-warning"
                            data-loading-text="..." data-dismiss="modal"
                            id="saveArtworkPhotoButton@(artworkId)">
                        Save
                    </button>
                    @*<button type="button"
                                class="btn btn-danger"
                                id="deletePhoto@(apprId)"
                                data-dismiss="modal">
                            Delete
                        </button>*@
                </div>
            </div>
        </div>
    </div>
}
<style>

    .modal-dialog {
        position: absolute;
        left: 20%;
    }

    .dz-success-mark, .dz-error-mark, .dz-details {
        display: none;
    }

    .dropzone {
        display: inline-block;
        width: 100%;
    }

    .dz-preview {
        width: 150px;
        text-align: center;
        padding: 2px;
        float: left;
        margin-left: 10px;
    }

        .dz-preview img {
            margin-bottom: 10px;
            width: 150px;
            height: 150px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
        }

    #dz-image {
        /*margin-bottom: 10px;*/
        margin: 10px;
    }
</style>
