
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
<div class="container">
    <hgroup>
        <h1 class="danger">Ошибка.</h1>
        <h2 class="danger">При обработке запроса произошла ошибка:</h2>
    </hgroup>
    <div class="danger read">@ViewBag.Error</div>
</div>
<div style="height:800px"><br/></div>
</body>
</html>
