USE [Olga2]
GO
/****** Object:  User [ELRF4H1QTK14ZCU\dubrovin]    Script Date: 26.08.2018 18:01:01 ******/
CREATE USER [ELRF4H1QTK14ZCU\dubrovin] FOR LOGIN [ELRF4H1QTK14ZCU\dubrovin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\Store]    Script Date: 26.08.2018 18:01:01 ******/
CREATE USER [IIS APPPOOL\Store] FOR LOGIN [IIS APPPOOL\Store] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\IUSR]    Script Date: 26.08.2018 18:01:01 ******/
CREATE USER [NT AUTHORITY\IUSR] FOR LOGIN [NT AUTHORITY\IUSR]
GO
/****** Object:  User [vites]    Script Date: 26.08.2018 18:01:01 ******/
CREATE USER [vites] FOR LOGIN [vites] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ELRF4H1QTK14ZCU\dubrovin]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\Store]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_owner] ADD MEMBER [vites]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [vites]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [vites]
GO
ALTER ROLE [db_datareader] ADD MEMBER [vites]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [vites]
GO
/****** Object:  Schema [info]    Script Date: 26.08.2018 18:01:01 ******/
CREATE SCHEMA [info]
GO
/****** Object:  Schema [product]    Script Date: 26.08.2018 18:01:02 ******/
CREATE SCHEMA [product]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientProfileCountries]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProfileCountries](
	[Country_Id] [int] NOT NULL,
	[ClientProfile_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ClientProfileCountries] PRIMARY KEY CLUSTERED 
(
	[ClientProfile_Id] ASC,
	[Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientProfiles]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProfiles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Rank] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ClientProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ManufacturerProducts]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManufacturerProducts](
	[Manufacturer_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ManufacturerProducts] PRIMARY KEY CLUSTERED 
(
	[Manufacturer_Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubmissionDate] [datetime] NOT NULL,
	[ApprovalDate] [datetime] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[ProcedureType] [int] NOT NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_dbo.Procedures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductArtworks]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductArtworks](
	[Artwork_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductArtworks] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC,
	[Artwork_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductDocuments]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PathToDocument] [nvarchar](200) NULL,
	[ProductId] [int] NOT NULL,
	[ApprDocsTypeId] [int] NULL,
	[ArtworkId] [int] NULL,
 CONSTRAINT [PK_dbo.ProductDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Remarks]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RemarkDate] [datetime] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[Procedure_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Remarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[ApprDocsTypes]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[ApprDocsTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApprType] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.ApprDocsTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Artworks]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Artworks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Artwork_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Artworks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Countries]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Manufacturers]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_info.Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[MarketingAuthorizHolders]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[MarketingAuthorizHolders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.MarketingAuthorizHolders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[MarketingAuthorizNumbers]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[MarketingAuthorizNumbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.MarketingAuthorizNumbers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[PackSizes]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[PackSizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.PackSizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[PharmaceuticalForms]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[PharmaceuticalForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PharmaForm] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.PharmaceuticalForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[ProductCodes]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[ProductCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.ProductCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[ProductNames]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[ProductNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.ProductNames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Strengths]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Strengths](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Strngth] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Strengths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [product].[Products]    Script Date: 26.08.2018 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [product].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IssuedDate] [datetime] NULL,
	[ExpiredDate] [datetime] NULL,
	[CountryId] [int] NULL,
	[MarketingAuthorizHolderId] [int] NULL,
	[MarketingAuthorizNumberId] [int] NULL,
	[PackSizeId] [int] NULL,
	[PharmaceuticalFormId] [int] NULL,
	[ProductCodeId] [int] NULL,
	[ProductNameId] [int] NULL,
	[StrengthId] [int] NULL,
	[UnLimited] [bit] NULL,
 CONSTRAINT [PK_product.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'20568b9b-c05f-4bb6-a0b7-6928ed813059', N'User', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'20568b9b-c05f-4bb6-a0b7-6928ed814444', N'Manager', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'9a6b597e-379e-4597-9f97-e0905f7507f0', N'Quality', N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4c906aca-265a-4296-bf15-f9cace59a34d', N'20568b9b-c05f-4bb6-a0b7-6928ed814444')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7aea8f9e-5534-4edd-9799-c749c2aa0720', N'20568b9b-c05f-4bb6-a0b7-6928ed814444')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8f580064-b780-4475-bd1b-0e8d2597533c', N'20568b9b-c05f-4bb6-a0b7-6928ed814444')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'4c906aca-265a-4296-bf15-f9cace59a34d', N'manager@i.ua', 0, N'AOjgGD4Vq+m9UqiAOy897E+aneLuwdms/bvyoJAs8EQ7ABWP2/9iHSep2zW28BdirA==', N'2a549bc6-2b19-491d-8feb-a1c3df5844ed', NULL, 0, 0, NULL, 0, 0, N'manager@i.ua')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7aea8f9e-5534-4edd-9799-c749c2aa0720', N'zmamedova@yandex.ru', 0, N'AJoWekHzfvJwKb3F3tdFnCRfXwI3ZHqOQ/BEqjDtf2fmu2xc+VfeCpjAGCjXn9WgHQ==', N'1dd1d648-31e6-44fe-99d4-fd9b90237534', NULL, 0, 0, NULL, 0, 0, N'zmamedova@yandex.ru')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'8bd5661c-dfd6-4f8a-b1e3-d8b2ec1af575', N'vites@outlook.com', 0, N'AJkE47D1Gpm2ev8obUg1Yq//sGqdHZVdqJsfkpULjucY1sq4wWjZktApjkRZyafiPQ==', N'ff92b28e-4628-4eb5-b75a-f006bb67809b', NULL, 0, 0, NULL, 0, 0, N'vites@outlook.com')
INSERT [dbo].[ClientProfileCountries] ([Country_Id], [ClientProfile_Id]) VALUES (1, N'4c906aca-265a-4296-bf15-f9cace59a34d')
INSERT [dbo].[ClientProfileCountries] ([Country_Id], [ClientProfile_Id]) VALUES (2, N'7aea8f9e-5534-4edd-9799-c749c2aa0720')
INSERT [dbo].[ClientProfileCountries] ([Country_Id], [ClientProfile_Id]) VALUES (1, N'8bd5661c-dfd6-4f8a-b1e3-d8b2ec1af575')
INSERT [dbo].[ClientProfiles] ([Id], [Name], [Rank]) VALUES (N'4c906aca-265a-4296-bf15-f9cace59a34d', N'Test', N'manager')
INSERT [dbo].[ClientProfiles] ([Id], [Name], [Rank]) VALUES (N'7aea8f9e-5534-4edd-9799-c749c2aa0720', N'Mamedova', N'manager')
INSERT [dbo].[ClientProfiles] ([Id], [Name], [Rank]) VALUES (N'8bd5661c-dfd6-4f8a-b1e3-d8b2ec1af575', N'Viktor Dubrovin', N'Main Software Developer')
INSERT [dbo].[ManufacturerProducts] ([Manufacturer_Id], [Product_Id]) VALUES (19, 89)
INSERT [dbo].[ManufacturerProducts] ([Manufacturer_Id], [Product_Id]) VALUES (33, 89)
INSERT [dbo].[ManufacturerProducts] ([Manufacturer_Id], [Product_Id]) VALUES (19, 90)
GO
SET IDENTITY_INSERT [dbo].[Procedures] ON 

INSERT [dbo].[Procedures] ([Id], [Name], [SubmissionDate], [ApprovalDate], [Comments], [ProcedureType], [ProductId]) VALUES (4, NULL, CAST(N'2018-05-30 00:00:00.000' AS DateTime), CAST(N'2018-06-01 00:00:00.000' AS DateTime), N'first registration ))', 0, NULL)
INSERT [dbo].[Procedures] ([Id], [Name], [SubmissionDate], [ApprovalDate], [Comments], [ProcedureType], [ProductId]) VALUES (5, NULL, CAST(N'2018-07-03 00:00:00.000' AS DateTime), CAST(N'2018-05-28 00:00:00.000' AS DateTime), N'first registration ))', 0, NULL)
INSERT [dbo].[Procedures] ([Id], [Name], [SubmissionDate], [ApprovalDate], [Comments], [ProcedureType], [ProductId]) VALUES (6, N'First init of Aloxi in CIS', CAST(N'2018-04-06 00:00:00.000' AS DateTime), CAST(N'2018-04-06 00:00:00.000' AS DateTime), N'initial for Ivanova', 0, NULL)
SET IDENTITY_INSERT [dbo].[Procedures] OFF
INSERT [dbo].[ProductArtworks] ([Artwork_Id], [Product_Id]) VALUES (1, 89)
INSERT [dbo].[ProductArtworks] ([Artwork_Id], [Product_Id]) VALUES (2, 89)
INSERT [dbo].[ProductArtworks] ([Artwork_Id], [Product_Id]) VALUES (7, 89)
GO
SET IDENTITY_INSERT [dbo].[ProductDocuments] ON 

INSERT [dbo].[ProductDocuments] ([Id], [PathToDocument], [ProductId], [ApprDocsTypeId], [ArtworkId]) VALUES (74, N'4__RU_PM_GLIATILIN_solution_3ml_22.11.2016_2feae4.pdf', 261, 4, NULL)
INSERT [dbo].[ProductDocuments] ([Id], [PathToDocument], [ProductId], [ApprDocsTypeId], [ArtworkId]) VALUES (75, N'1__RU_RC_GLIATILIN_solution_3ml_14.07.2015_f61ac4.pdf', 261, 1, NULL)
INSERT [dbo].[ProductDocuments] ([Id], [PathToDocument], [ProductId], [ApprDocsTypeId], [ArtworkId]) VALUES (76, N'2__RU_VAR1_PIL_GLIATILIN_solution_3ml_22.11.2016_6d656c.pdf', 261, 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductDocuments] OFF
SET IDENTITY_INSERT [info].[ApprDocsTypes] ON 

INSERT [info].[ApprDocsTypes] ([Id], [ApprType]) VALUES (1, N'Registration certificate')
INSERT [info].[ApprDocsTypes] ([Id], [ApprType]) VALUES (2, N'PIL')
INSERT [info].[ApprDocsTypes] ([Id], [ApprType]) VALUES (3, N'ND / MQC')
SET IDENTITY_INSERT [info].[ApprDocsTypes] OFF
SET IDENTITY_INSERT [info].[Artworks] ON 

INSERT [info].[Artworks] ([Id], [Artwork_name]) VALUES (1, N'Сarton')
INSERT [info].[Artworks] ([Id], [Artwork_name]) VALUES (2, N'Leaflet')
INSERT [info].[Artworks] ([Id], [Artwork_name]) VALUES (3, N'Label')
SET IDENTITY_INSERT [info].[Artworks] OFF
SET IDENTITY_INSERT [info].[Countries] ON 

INSERT [info].[Countries] ([Id], [Name]) VALUES (1, N'Ukraine')
INSERT [info].[Countries] ([Id], [Name]) VALUES (2, N'Russia')
INSERT [info].[Countries] ([Id], [Name]) VALUES (3, N'Armenia')
SET IDENTITY_INSERT [info].[Countries] OFF
SET IDENTITY_INSERT [info].[Manufacturers] ON 

INSERT [info].[Manufacturers] ([Id], [Name], [ProductId]) VALUES (1, N'OSO Biopharmaceuticals Manufacturing, LLC”, USA', 0)
INSERT [info].[Manufacturers] ([Id], [Name], [ProductId]) VALUES (2, N'Famar Italia S.p.A., Italy', 0)
INSERT [info].[Manufacturers] ([Id], [Name], [ProductId]) VALUES (3, N'Medicom International s.r.o., Czech Republic', 0)
SET IDENTITY_INSERT [info].[Manufacturers] OFF
SET IDENTITY_INSERT [info].[MarketingAuthorizHolders] ON 

INSERT [info].[MarketingAuthorizHolders] ([Id], [Name]) VALUES (1, N'Helsinn Birex Pharmaceuticals Ltd.,Ireland')
INSERT [info].[MarketingAuthorizHolders] ([Id], [Name]) VALUES (3, N'Italfarmaco S.p.А., Italy')
INSERT [info].[MarketingAuthorizHolders] ([Id], [Name]) VALUES (4, N'Fidia Pharmaceutici S. p. A., Italy')
SET IDENTITY_INSERT [info].[MarketingAuthorizHolders] OFF
SET IDENTITY_INSERT [info].[MarketingAuthorizNumbers] ON 

INSERT [info].[MarketingAuthorizNumbers] ([Id], [Number], [CountryId]) VALUES (1, N'№UA/16037/01/01', 1)
INSERT [info].[MarketingAuthorizNumbers] ([Id], [Number], [CountryId]) VALUES (2, N'No. UА/14088/01/01', 1)
INSERT [info].[MarketingAuthorizNumbers] ([Id], [Number], [CountryId]) VALUES (3, N'No. UА/14153/01/01', 1)
GO
SET IDENTITY_INSERT [info].[MarketingAuthorizNumbers] OFF
SET IDENTITY_INSERT [info].[PackSizes] ON 

INSERT [info].[PackSizes] ([Id], [Size], [CountryId]) VALUES (1, N'1 vial contains 5 ml of solution; one vial with solution per cardboard box ', 1)
INSERT [info].[PackSizes] ([Id], [Size], [CountryId]) VALUES (2, N'10 capsules in a blister; 2 or 6 blisters in a cardboard box ', 1)
INSERT [info].[PackSizes] ([Id], [Size], [CountryId]) VALUES (3, N'1 vial with powder with a measuring container in a cardboard box', 1)
GO
SET IDENTITY_INSERT [info].[PackSizes] OFF
SET IDENTITY_INSERT [info].[PharmaceuticalForms] ON 

INSERT [info].[PharmaceuticalForms] ([Id], [PharmaForm]) VALUES (2, N'Solution for injection')
INSERT [info].[PharmaceuticalForms] ([Id], [PharmaForm]) VALUES (4, N'Powder for oral suspension  ')
INSERT [info].[PharmaceuticalForms] ([Id], [PharmaForm]) VALUES (5, N'Sterile non-pyrogenic hydrogel, for intra-articular injection')
SET IDENTITY_INSERT [info].[PharmaceuticalForms] OFF
SET IDENTITY_INSERT [info].[ProductCodes] ON 

INSERT [info].[ProductCodes] ([Id], [Code], [CountryId]) VALUES (1, N'PFLGLI14CPUA', 1)
INSERT [info].[ProductCodes] ([Id], [Code], [CountryId]) VALUES (2, N'PFLIN0014UA', 1)
INSERT [info].[ProductCodes] ([Id], [Code], [CountryId]) VALUES (3, N'60005236UA', 1)
SET IDENTITY_INSERT [info].[ProductCodes] OFF
SET IDENTITY_INSERT [info].[ProductNames] ON 

INSERT [info].[ProductNames] ([Id], [Name], [CountryId]) VALUES (1, N'Aloxi', 1)
INSERT [info].[ProductNames] ([Id], [Name], [CountryId]) VALUES (2, N'Ermucin', 1)
INSERT [info].[ProductNames] ([Id], [Name], [CountryId]) VALUES (3, N'GLIATILIN®', 1)
SET IDENTITY_INSERT [info].[ProductNames] OFF
SET IDENTITY_INSERT [info].[Strengths] ON 

INSERT [info].[Strengths] ([Id], [Strngth]) VALUES (2, N'300 mg')
INSERT [info].[Strengths] ([Id], [Strngth]) VALUES (3, N'175 mg/5 ml')
INSERT [info].[Strengths] ([Id], [Strngth]) VALUES (4, N'400 mg ')
SET IDENTITY_INSERT [info].[Strengths] OFF
SET IDENTITY_INSERT [product].[Products] ON 

INSERT [product].[Products] ([Id], [IssuedDate], [ExpiredDate], [CountryId], [MarketingAuthorizHolderId], [MarketingAuthorizNumberId], [PackSizeId], [PharmaceuticalFormId], [ProductCodeId], [ProductNameId], [StrengthId], [UnLimited]) VALUES (89, CAST(N'2014-12-05 00:00:00.000' AS DateTime), CAST(N'2019-12-05 00:00:00.000' AS DateTime), 1, 11, 2, 2, 44, NULL, 2, 2, 0)
INSERT [product].[Products] ([Id], [IssuedDate], [ExpiredDate], [CountryId], [MarketingAuthorizHolderId], [MarketingAuthorizNumberId], [PackSizeId], [PharmaceuticalFormId], [ProductCodeId], [ProductNameId], [StrengthId], [UnLimited]) VALUES (90, CAST(N'2014-12-29 00:00:00.000' AS DateTime), CAST(N'2019-12-29 00:00:00.000' AS DateTime), 1, 11, 3, 3, 4, NULL, 2, 3, 0)
INSERT [product].[Products] ([Id], [IssuedDate], [ExpiredDate], [CountryId], [MarketingAuthorizHolderId], [MarketingAuthorizNumberId], [PackSizeId], [PharmaceuticalFormId], [ProductCodeId], [ProductNameId], [StrengthId], [UnLimited]) VALUES (96, CAST(N'2016-10-04 00:00:00.000' AS DateTime), NULL, 1, 5, 8, 8, 7, 4, 5, NULL, 1)
GO
SET IDENTITY_INSERT [product].[Products] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ClientProfileCountries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CountryClientProfiles_dbo.ClientProfiles_ClientProfile_Id] FOREIGN KEY([ClientProfile_Id])
REFERENCES [dbo].[ClientProfiles] ([Id])
GO
ALTER TABLE [dbo].[ClientProfileCountries] CHECK CONSTRAINT [FK_dbo.CountryClientProfiles_dbo.ClientProfiles_ClientProfile_Id]
GO
ALTER TABLE [dbo].[ClientProfileCountries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CountryClientProfiles_info.Countries_Country_Id] FOREIGN KEY([Country_Id])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [dbo].[ClientProfileCountries] CHECK CONSTRAINT [FK_dbo.CountryClientProfiles_info.Countries_Country_Id]
GO
ALTER TABLE [dbo].[ClientProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClientProfiles_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ClientProfiles] CHECK CONSTRAINT [FK_dbo.ClientProfiles_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[ManufacturerProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ManufacturerProducts_info.Manufacturers_Manufacturer_Id] FOREIGN KEY([Manufacturer_Id])
REFERENCES [info].[Manufacturers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManufacturerProducts] CHECK CONSTRAINT [FK_dbo.ManufacturerProducts_info.Manufacturers_Manufacturer_Id]
GO
ALTER TABLE [dbo].[ManufacturerProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ManufacturerProducts_product.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [product].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManufacturerProducts] CHECK CONSTRAINT [FK_dbo.ManufacturerProducts_product.Products_Product_Id]
GO
ALTER TABLE [dbo].[Procedures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Procedures_product.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [product].[Products] ([Id])
GO
ALTER TABLE [dbo].[Procedures] CHECK CONSTRAINT [FK_dbo.Procedures_product.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductArtworks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArtworkProducts_info.Artworks_Artwork_Id] FOREIGN KEY([Artwork_Id])
REFERENCES [info].[Artworks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductArtworks] CHECK CONSTRAINT [FK_dbo.ArtworkProducts_info.Artworks_Artwork_Id]
GO
ALTER TABLE [dbo].[ProductArtworks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArtworkProducts_product.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [product].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductArtworks] CHECK CONSTRAINT [FK_dbo.ArtworkProducts_product.Products_Product_Id]
GO
ALTER TABLE [dbo].[ProductDocuments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDocuments_info.ApprDocsTypes_ApprDocsTypeId] FOREIGN KEY([ApprDocsTypeId])
REFERENCES [info].[ApprDocsTypes] ([Id])
GO
ALTER TABLE [dbo].[ProductDocuments] CHECK CONSTRAINT [FK_dbo.ProductDocuments_info.ApprDocsTypes_ApprDocsTypeId]
GO
ALTER TABLE [dbo].[ProductDocuments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDocuments_info.Artworks_ArtworkId] FOREIGN KEY([ArtworkId])
REFERENCES [info].[Artworks] ([Id])
GO
ALTER TABLE [dbo].[ProductDocuments] CHECK CONSTRAINT [FK_dbo.ProductDocuments_info.Artworks_ArtworkId]
GO
ALTER TABLE [dbo].[ProductDocuments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDocuments_product.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [product].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDocuments] CHECK CONSTRAINT [FK_dbo.ProductDocuments_product.Products_ProductId]
GO
ALTER TABLE [dbo].[Remarks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Remarks_dbo.Procedures_Procedure_Id] FOREIGN KEY([Procedure_Id])
REFERENCES [dbo].[Procedures] ([Id])
GO
ALTER TABLE [dbo].[Remarks] CHECK CONSTRAINT [FK_dbo.Remarks_dbo.Procedures_Procedure_Id]
GO
ALTER TABLE [info].[MarketingAuthorizNumbers]  WITH CHECK ADD  CONSTRAINT [FK_info.MarketingAuthorizNumbers_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[MarketingAuthorizNumbers] CHECK CONSTRAINT [FK_info.MarketingAuthorizNumbers_info.Countries_CountryId]
GO
ALTER TABLE [info].[PackSizes]  WITH CHECK ADD  CONSTRAINT [FK_info.PackSizes_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[PackSizes] CHECK CONSTRAINT [FK_info.PackSizes_info.Countries_CountryId]
GO
ALTER TABLE [info].[ProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_info.ProductCodes_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[ProductCodes] CHECK CONSTRAINT [FK_info.ProductCodes_info.Countries_CountryId]
GO
ALTER TABLE [info].[ProductNames]  WITH CHECK ADD  CONSTRAINT [FK_info.ProductNames_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[ProductNames] CHECK CONSTRAINT [FK_info.ProductNames_info.Countries_CountryId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.Countries_CountryId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.MarketingAuthorizHolders_MarketingAuthorizHolderId] FOREIGN KEY([MarketingAuthorizHolderId])
REFERENCES [info].[MarketingAuthorizHolders] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.MarketingAuthorizHolders_MarketingAuthorizHolderId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.MarketingAuthorizNumbers_MarketingAuthorizNumberId] FOREIGN KEY([MarketingAuthorizNumberId])
REFERENCES [info].[MarketingAuthorizNumbers] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.MarketingAuthorizNumbers_MarketingAuthorizNumberId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.PackSizes_PackSizeId] FOREIGN KEY([PackSizeId])
REFERENCES [info].[PackSizes] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.PackSizes_PackSizeId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.PharmaceuticalForms_PharmaceuticalFormId] FOREIGN KEY([PharmaceuticalFormId])
REFERENCES [info].[PharmaceuticalForms] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.PharmaceuticalForms_PharmaceuticalFormId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.ProductCodes_ProductCodeId] FOREIGN KEY([ProductCodeId])
REFERENCES [info].[ProductCodes] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.ProductCodes_ProductCodeId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.ProductNames_ProductNameId] FOREIGN KEY([ProductNameId])
REFERENCES [info].[ProductNames] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.ProductNames_ProductNameId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.Strengths_StrengthId] FOREIGN KEY([StrengthId])
REFERENCES [info].[Strengths] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.Strengths_StrengthId]
GO
