USE [Olga2]
GO
/****** Object:  User [vites]    Script Date: 21.04.2018 19:44:46 ******/
CREATE USER [vites] FOR LOGIN [vites] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [info]    Script Date: 21.04.2018 19:44:47 ******/
CREATE SCHEMA [info]
GO
/****** Object:  Schema [product]    Script Date: 21.04.2018 19:44:47 ******/
CREATE SCHEMA [product]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21.04.2018 19:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [info].[ApprDocsTypes]    Script Date: 21.04.2018 19:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[ApprDocsTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApprType] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.ApprDocsTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Artworks]    Script Date: 21.04.2018 19:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Artworks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Artwork_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Artworks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Countries]    Script Date: 21.04.2018 19:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Manufacturers]    Script Date: 21.04.2018 19:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[MarketingAuthorizHolders]    Script Date: 21.04.2018 19:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[MarketingAuthorizHolders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.MarketingAuthorizHolders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[MarketingAuthorizNumbers]    Script Date: 21.04.2018 19:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[MarketingAuthorizNumbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.MarketingAuthorizNumbers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[PackSizes]    Script Date: 21.04.2018 19:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[PackSizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.PackSizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[PharmaceuticalForms]    Script Date: 21.04.2018 19:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[PharmaceuticalForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PharmaForm] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.PharmaceuticalForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[ProductCodes]    Script Date: 21.04.2018 19:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[ProductCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.ProductCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[ProductNames]    Script Date: 21.04.2018 19:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[ProductNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_info.ProductNames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [info].[Strengths]    Script Date: 21.04.2018 19:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [info].[Strengths](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Strngth] [nvarchar](max) NULL,
 CONSTRAINT [PK_info.Strengths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [product].[Products]    Script Date: 21.04.2018 19:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [product].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IssuedDate] [datetime] NULL,
	[ExpiredDate] [datetime] NULL,
	[CountryId] [int] NULL,
	[ApprDocsTypeId] [int] NULL,
	[ArtworkId] [int] NULL,
	[ManufacturerId] [int] NULL,
	[MarketingAuthorizHolderId] [int] NULL,
	[MarketingAuthorizNumberId] [int] NULL,
	[PackSizeId] [int] NULL,
	[PharmaceuticalFormId] [int] NULL,
	[ProductCodeId] [int] NULL,
	[ProductNameId] [int] NULL,
	[StrengthId] [int] NULL,
 CONSTRAINT [PK_product.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [info].[ApprDocsTypes] ON 

INSERT [info].[ApprDocsTypes] ([Id], [ApprType]) VALUES (1, N'Registration certificate')
INSERT [info].[ApprDocsTypes] ([Id], [ApprType]) VALUES (2, N'PIL')
INSERT [info].[ApprDocsTypes] ([Id], [ApprType]) VALUES (3, N'ND / MQC')
SET IDENTITY_INSERT [info].[ApprDocsTypes] OFF
SET IDENTITY_INSERT [info].[Artworks] ON 

INSERT [info].[Artworks] ([Id], [Artwork_name]) VALUES (1, N'Сarton')
INSERT [info].[Artworks] ([Id], [Artwork_name]) VALUES (2, N'Leaflet')
INSERT [info].[Artworks] ([Id], [Artwork_name]) VALUES (3, N'Label')
SET IDENTITY_INSERT [info].[Artworks] OFF
SET IDENTITY_INSERT [info].[Countries] ON 

INSERT [info].[Countries] ([Id], [Name]) VALUES (1, N'Ukraine')
INSERT [info].[Countries] ([Id], [Name]) VALUES (2, N'Russia')
INSERT [info].[Countries] ([Id], [Name]) VALUES (3, N'Armenia')
SET IDENTITY_INSERT [info].[Countries] OFF
SET IDENTITY_INSERT [info].[Manufacturers] ON 

INSERT [info].[Manufacturers] ([Id], [Name]) VALUES (1, N'OSO Biopharmaceuticals Manufacturing, LLC”, USA')
INSERT [info].[Manufacturers] ([Id], [Name]) VALUES (2, N'Famar Italia S.p.A., Italy')
INSERT [info].[Manufacturers] ([Id], [Name]) VALUES (3, N'Medicom International s.r.o., Czech Republic')
SET IDENTITY_INSERT [info].[Manufacturers] OFF
SET IDENTITY_INSERT [info].[MarketingAuthorizHolders] ON 

INSERT [info].[MarketingAuthorizHolders] ([Id], [Name]) VALUES (1, N'Helsinn Birex Pharmaceuticals Ltd.,Ireland')
INSERT [info].[MarketingAuthorizHolders] ([Id], [Name]) VALUES (2, N'UAB MRA, Republic of Lithuania')
INSERT [info].[MarketingAuthorizHolders] ([Id], [Name]) VALUES (3, N'Italfarmaco S.p.А., Italy')
SET IDENTITY_INSERT [info].[MarketingAuthorizHolders] OFF
SET IDENTITY_INSERT [info].[MarketingAuthorizNumbers] ON 

INSERT [info].[MarketingAuthorizNumbers] ([Id], [Number], [CountryId]) VALUES (1, N'№UA/16037/01/01', 1)
INSERT [info].[MarketingAuthorizNumbers] ([Id], [Number], [CountryId]) VALUES (2, N'No. UА/14088/01/01', 1)
INSERT [info].[MarketingAuthorizNumbers] ([Id], [Number], [CountryId]) VALUES (3, N'No. UА/14153/01/01', 1)
SET IDENTITY_INSERT [info].[MarketingAuthorizNumbers] OFF
SET IDENTITY_INSERT [info].[PackSizes] ON 

INSERT [info].[PackSizes] ([Id], [Size], [CountryId]) VALUES (1, N'1 vial contains 5 ml of solution; one vial with solution per cardboard box ', 1)
INSERT [info].[PackSizes] ([Id], [Size], [CountryId]) VALUES (2, N'10 capsules in a blister; 2 or 6 blisters in a cardboard box ', 1)
INSERT [info].[PackSizes] ([Id], [Size], [CountryId]) VALUES (3, N'1 vial with powder with a measuring container in a cardboard box', 1)
SET IDENTITY_INSERT [info].[PackSizes] OFF
SET IDENTITY_INSERT [info].[PharmaceuticalForms] ON 

INSERT [info].[PharmaceuticalForms] ([Id], [PharmaForm]) VALUES (2, N'Solution for injection')
INSERT [info].[PharmaceuticalForms] ([Id], [PharmaForm]) VALUES (3, N'Capsules ')
INSERT [info].[PharmaceuticalForms] ([Id], [PharmaForm]) VALUES (4, N'Powder for oral suspension  ')
SET IDENTITY_INSERT [info].[PharmaceuticalForms] OFF
SET IDENTITY_INSERT [info].[ProductCodes] ON 

INSERT [info].[ProductCodes] ([Id], [Code], [CountryId]) VALUES (1, N'PFLGLI14CPUA', 1)
INSERT [info].[ProductCodes] ([Id], [Code], [CountryId]) VALUES (2, N'PFLIN0014UA', 1)
INSERT [info].[ProductCodes] ([Id], [Code], [CountryId]) VALUES (3, N'60005236UA', 1)
SET IDENTITY_INSERT [info].[ProductCodes] OFF
SET IDENTITY_INSERT [info].[ProductNames] ON 

INSERT [info].[ProductNames] ([Id], [Name], [CountryId]) VALUES (1, N'Aloxi', 1)
INSERT [info].[ProductNames] ([Id], [Name], [CountryId]) VALUES (2, N'Ermucin', 1)
INSERT [info].[ProductNames] ([Id], [Name], [CountryId]) VALUES (3, N'GLIATILIN®', 1)
SET IDENTITY_INSERT [info].[ProductNames] OFF
SET IDENTITY_INSERT [info].[Strengths] ON 

INSERT [info].[Strengths] ([Id], [Strngth]) VALUES (1, N'250 mkg/5 ml')
INSERT [info].[Strengths] ([Id], [Strngth]) VALUES (2, N'300 mg')
INSERT [info].[Strengths] ([Id], [Strngth]) VALUES (3, N'175 mg/5 ml')
SET IDENTITY_INSERT [info].[Strengths] OFF
SET IDENTITY_INSERT [product].[Products] ON 

INSERT [product].[Products] ([Id], [IssuedDate], [ExpiredDate], [CountryId], [ApprDocsTypeId], [ArtworkId], [ManufacturerId], [MarketingAuthorizHolderId], [MarketingAuthorizNumberId], [PackSizeId], [PharmaceuticalFormId], [ProductCodeId], [ProductNameId], [StrengthId]) VALUES (2, CAST(N'2018-02-26T00:00:00.000' AS DateTime), CAST(N'2018-02-26T00:00:00.000' AS DateTime), 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1)
SET IDENTITY_INSERT [product].[Products] OFF
ALTER TABLE [info].[MarketingAuthorizNumbers]  WITH CHECK ADD  CONSTRAINT [FK_info.MarketingAuthorizNumbers_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[MarketingAuthorizNumbers] CHECK CONSTRAINT [FK_info.MarketingAuthorizNumbers_info.Countries_CountryId]
GO
ALTER TABLE [info].[PackSizes]  WITH CHECK ADD  CONSTRAINT [FK_info.PackSizes_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[PackSizes] CHECK CONSTRAINT [FK_info.PackSizes_info.Countries_CountryId]
GO
ALTER TABLE [info].[ProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_info.ProductCodes_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[ProductCodes] CHECK CONSTRAINT [FK_info.ProductCodes_info.Countries_CountryId]
GO
ALTER TABLE [info].[ProductNames]  WITH CHECK ADD  CONSTRAINT [FK_info.ProductNames_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [info].[ProductNames] CHECK CONSTRAINT [FK_info.ProductNames_info.Countries_CountryId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.ApprDocsTypes_ApprDocsTypeId] FOREIGN KEY([ApprDocsTypeId])
REFERENCES [info].[ApprDocsTypes] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.ApprDocsTypes_ApprDocsTypeId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.Artworks_ArtworkId] FOREIGN KEY([ArtworkId])
REFERENCES [info].[Artworks] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.Artworks_ArtworkId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [info].[Countries] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.Countries_CountryId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.Manufacturers_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [info].[Manufacturers] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.Manufacturers_ManufacturerId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.MarketingAuthorizHolders_MarketingAuthorizHolderId] FOREIGN KEY([MarketingAuthorizHolderId])
REFERENCES [info].[MarketingAuthorizHolders] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.MarketingAuthorizHolders_MarketingAuthorizHolderId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.MarketingAuthorizNumbers_MarketingAuthorizNumberId] FOREIGN KEY([MarketingAuthorizNumberId])
REFERENCES [info].[MarketingAuthorizNumbers] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.MarketingAuthorizNumbers_MarketingAuthorizNumberId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.PackSizes_PackSizeId] FOREIGN KEY([PackSizeId])
REFERENCES [info].[PackSizes] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.PackSizes_PackSizeId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.PharmaceuticalForms_PharmaceuticalFormId] FOREIGN KEY([PharmaceuticalFormId])
REFERENCES [info].[PharmaceuticalForms] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.PharmaceuticalForms_PharmaceuticalFormId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.ProductCodes_ProductCodeId] FOREIGN KEY([ProductCodeId])
REFERENCES [info].[ProductCodes] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.ProductCodes_ProductCodeId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.ProductNames_ProductNameId] FOREIGN KEY([ProductNameId])
REFERENCES [info].[ProductNames] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.ProductNames_ProductNameId]
GO
ALTER TABLE [product].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product.Products_info.Strengths_StrengthId] FOREIGN KEY([StrengthId])
REFERENCES [info].[Strengths] ([Id])
GO
ALTER TABLE [product].[Products] CHECK CONSTRAINT [FK_product.Products_info.Strengths_StrengthId]
GO
