/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *  FROM [Olga2].[info].[PackSizes]
delete from [Olga2].[info].[PackSizes] where id>42
SELECT *  FROM [Olga2].[info].[ProductNames]
SELECT *  FROM [Olga2].[info].[ProductCodes]
SELECT *  FROM [Olga2].[info].[MarketingAuthorizNumbers] 